body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4ac;
}

header {
    background: #35424a;
    color: #ffffff;
    padding: 20px 0;
    text-align: center;
}

.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
}

.hero-image {
    max-width: 100%;
    height: auto;
}

main {
    padding: 20px;
}

h1, h2 {
    color: #35424a;
}

h3 {
    color: #666666;
}

section {
    margin-bottom: 20px;
}

article {
    background: #ffffff;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #dddddd;
}

footer {
    background: #35424a;
    color: #ffffff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}
